@model MyShop.Core.ViewModels.BasketSummaryViewModel

<ul class="navbar-nav navbar-right pe-4">
    <li><a class="text-decoration-none nav-link" href="@Url.Action("Index", "Basket")">@Model.BasketCount items</a></li>
    <li><a class="text-decoration-none nav-link" href="@Url.Action("Index", "Basket")">@String.Format("{0:c}", Model.BasketTotal)</a></li>
</ul>
